[Unit]
After=network.target
# Implicit needs are explicitly needed to survive shutdown till stop finishes
Before=shutdown.target
# Stop before shutdown
Description=Minecraft server

[Service]
ExecReload=/usr/bin/tmux -S /tmp/%i send-keys -t %i:0.0 reload Enter
# Enter reload in the first pane of the first window of session %i on socket /tmp/%i
# type says script path
ExecStart=/usr/bin/tmux -S /tmp/%i new -ds %i /usr/bin/java -jar server.jar
# Makes session %i on socket /tmp/%i in background
ExecStop=/opt/MC/MCstop.sh %i /tmp/%i
PrivateUsers=true
# Security
# Thanks agowa338
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
Type=forking
User=mc
WorkingDirectory=/opt/MC/%i
# Launch jar in %i

[Install]
WantedBy=multi-user.target
