[Unit]
After=mcbe@%i.service
Description=Back up Minecraft Bedrock Edition server world

[Service]
ExecStart=/opt/MC/MCBEbackup.sh /opt/MC/%i %i ~ /tmp/%i
# I recommend replacing the 3rd argument to MCBEbackup.sh with an external drive to dump backups on
Type=oneshot
User=mc

[Install]
WantedBy=multi-user.target
