[Unit]
After=network.target
# Implicit needs are explicitly needed to survive shutdown till stop finishes
Before=shutdown.target
# Stop before shutdown
Description=Minecraft Bedrock Edition server

[Service]
ExecStart=/usr/bin/tmux -S /tmp/%i new -ds %i 'LD_LIBRARY_PATH=. ./bedrock_server'
# Makes session %i on socket /tmp/%i in background
# Passing environment variables needs quotes in tmux
# type says script path
ExecStop=/opt/MC/MCstop.sh %i
PrivateUsers=true
# Security
# Thanks agowa338
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
Type=forking
User=mc
WorkingDirectory=/opt/MC/%i
# Launch bedrock_server in %i

[Install]
WantedBy=multi-user.target
