[Unit]
After=mc@%i.service
Description=Back up Minecraft Java Edition server world @ %i
Requisite=mc@%i.service

[Service]
ExecStart=/opt/MC/MCbackup.sh -b /opt/MC/backup_dir -t /tmp/tmux-mc/%i /opt/MC/%i %i
KillMode=none
Type=oneshot
User=mc
