[Unit]
After=mc@%i.service
Description=Back up Minecraft Java Edition server world
Requisite=mc@%i.service

[Service]
ExecStart=/opt/MC/MCbackup.sh /opt/MC/%i %i /opt/MC/backup_dir /tmp/tmux-mc/%i
KillMode=none
Type=oneshot
User=mc
