[Unit]
After=mcbe@%i.service mcbe-autoupdate@%i.service
Description=Back up Minecraft Java Edition server world
Requisite=mcbe@%i.service
RequiresMountsFor=/opt/MC
# I recommend replacing this with an external drive to dump backups on

[Service]
ExecStart=/opt/MC/MCbackup.sh /opt/MC/%i %i /opt/MC /tmp/tmux-mc/%i
# I recommend replacing the 3rd argument to MCbackup.sh with an external drive to dump backups on
KillMode=none
Type=oneshot
User=mc

[Install]
WantedBy=multi-user.target
