[Unit]
After=mc-backup@%i.service
Description=Automatically remove Minecraft Java Edition server world backups more than 2-weeks-old @ %i
Requisite=mc-backup@%i.service

[Service]
# Automatically remove Minecraft Java Edition server world backups except the 14 newest ones @ %i
# ExecStart=/bin/bash -c "find /opt/MC/backup_dir/java/%i_Backups -type f | xargs -0d '\n' ls -t | tail -n +15 | xargs -0d '\n' rm -f"
ExecStart=/usr/bin/find /opt/MC/backup_dir/java/%i_Backups -type f -mtime +13 -delete
ExecStartPost=/usr/bin/find /opt/MC/backup_dir/java/%i_Backups -type d -empty -delete
Type=oneshot

[Install]
# Start after mc-backup@%i.service
WantedBy=mc-backup@%i.service
