[Unit]
After=mc-backup@%i.service
Description=Automatically remove Minecraft Java Edition server world backups more than 2-weeks-old

[Service]
ExecStart=/usr/bin/find /opt/MC/backup_dir/%i_Backups -type f -mtime +13 -delete
ExecStartPost=/usr/bin/find /opt/MC/backup_dir/%i_Backups -type d -empty -delete
Type=oneshot

[Install]
# Start after mc-backup.service
WantedBy=mc-backup.service
