[Unit]
# Implicit needs are explicitly needed to survive shutdown till stop finishes
After=network.target
BindsTo=%N.socket
Description=Minecraft Java Edition server @ %i

[Service]
# which says script path
ExecReload=/bin/bash -c 'echo reload > %t/%N'
ExecStart=/bin/bash -c './start.bat'
ExecStop=/opt/MCscripts/mc_stop.sh %N
# Thanks for the security agowa338
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
Restart=on-failure
StandardInput=socket
StandardOutput=journal
StandardError=journal
Type=simple
User=mc
WorkingDirectory=/opt/MC/java/%i

[Install]
WantedBy=multi-user.target
