[Unit]
# Implicit needs are explicitly needed to survive shutdown till stop finishes
After=network.target
BindsTo=%N.socket
Description=Minecraft Java Edition server @ %i

[Service]
# which says script path
ExecReload=/bin/bash -c 'echo reload > %t/%N'
ExecStart=/bin/bash -c './start.bat'
ExecStop=/opt/MC/MCstop.sh %N
# Thanks for the security agowa338
PrivateUsers=true
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
Restart=on-failure
# Thanks for sockets Lukáš Zapletal
StandardInput=socket
StandardOutput=journal
StandardError=journal
Type=simple
User=mc
WorkingDirectory=/opt/MC/%i

[Install]
WantedBy=multi-user.target
