[Unit]
# Implicit needs are explicitly needed to survive shutdown till stop finishes
After=network.target
Description=Minecraft Java Edition server @ %i

[Service]
# Enter reload in the first pane of the first window of session %i on socket /tmp/tmux-mc/%i
# which says script path
ExecReload=/usr/bin/tmux -S /tmp/tmux-mc/%i send-keys -t %i:0.0 reload Enter
# Makes session %i on socket /tmp/tmux-mc/%i in background
ExecStart=/usr/bin/tmux -S /tmp/tmux-mc/%i new -ds %i ./start.bat
ExecStartPre=/bin/mkdir -p /tmp/tmux-mc
ExecStop=/opt/MC/MCstop.sh -t /tmp/tmux-mc/%i %i
# Thanks for the security agowa338
PrivateUsers=true
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
Restart=on-failure
Type=forking
User=mc
WorkingDirectory=/opt/MC/%i

[Install]
WantedBy=multi-user.target
