[Unit]
After=mcbe@%i.service
Description=Back up Minecraft Bedrock Edition server world @ %i
Requisite=mcbe@%i.service

[Service]
ExecStart=/opt/MCscripts/mcbe_backup.sh -b /opt/MCscripts/backup_dir /opt/MC/bedrock/%i mcbe@%i
Type=oneshot
