[Unit]
After=mcbe@%i.service
Description=Post Minecraft Bedrock Edition server connect/disconnect messages to IRC @ %i
Requisite=mcbe@%i.service

[Service]
ExecStart=/opt/MC/MCBElog.sh mcbe@%i
Type=simple

[Install]
# Start after mcbe-bot@%i.service
WantedBy=mcbe-bot@%i.service
