[Unit]
After=mcbe-backup@%i.service
Description=Automatically remove Minecraft Bedrock Edition server world backups more than 2-weeks-old @ %i
Requisite=mcbe-backup@%i.service

[Service]
ExecStart=/usr/bin/find /opt/MC/backup_dir/bedrock/%i_Backups -type f -mtime +13 -delete
ExecStartPost=/usr/bin/find /opt/MC/backup_dir/bedrock/%i_Backups -type d -empty -delete
Type=oneshot

[Install]
# Start after mcbe-backup@%i.service
WantedBy=mcbe-backup@%i.service
