[Unit]
After=mcbe-getzip.service mcbe@%i.service mcbe-backup@%i.service
Description=Automatically update Minecraft Bedrock Edition server

[Service]
ExecStart=/opt/MC/MCBEautoUpdate.sh -s mcbe@%i /opt/MC/%i
KillMode=none
Type=oneshot

[Install]
# Start after mcbe-getzip.service
WantedBy=mcbe-getzip.service
