[Unit]
After=network-online.target
Before=mcbe@%i.service
Description=Minecraft Bedrock Edition server IRC bot @ %i
Requisite=mcbe@%i.service network-online.target
StartLimitIntervalSec=0

[Service]
ExecStart=/opt/MC/MCBE_Bot.sh -i %i_Bot
Restart=always
Type=simple
User=mc
WorkingDirectory=/opt/MC

[Install]
# Start after mcbe@%i.service
WantedBy=mcbe@%i.service
