[Unit]
Description=Automatically download Minecraft Bedrock Edition server ZIP hourly

[Timer]
OnStartupSec=0 hours
OnUnitActiveSec=1 hour

[Install]
WantedBy=timers.target
