[Unit]
After=network.target
# Implicit needs are explicitly needed to survive shutdown till stop finishes
Before=shutdown.target
# Stop before shutdown
Description=Minecraft Bedrock Edition server

[Service]
ExecReload=/usr/bin/tmux -S /tmp/tmux-mc/%i send-keys -t %i:0.0 reload Enter
# Enter reload in the first pane of the first window of session %i on socket /tmp/tmux-mc/%i
# type says script path
ExecStart=/usr/bin/tmux -S /tmp/tmux-mc/%i new -ds %i 'LD_LIBRARY_PATH=. ./bedrock_server'
# Makes session %i on socket /tmp/tmux-mc/%i in background
# Passing environment variables needs quotes in tmux
ExecStartPre=/bin/mkdir -p /tmp/tmux-mc
ExecStop=/opt/MC/MCstop.sh %i /tmp/tmux-mc/%i
PrivateUsers=true
# Security
# Thanks agowa338
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
Restart=on-failure
Type=forking
User=mc
WorkingDirectory=/opt/MC/%i
# Launch bedrock_server in %i

[Install]
WantedBy=multi-user.target
