[Unit]
After=mcbe@%i.service network-online.target
Description=Post Minecraft Bedrock Edition server logs to chat @ %i
Requisite=mcbe@%i.service

[Service]
# DNS check
ExecStartPre=/bin/bash -c 'until ping -c 1 google.com &> /dev/null; do sleep 1; done'
ExecStart=/opt/MCscripts/mcbe_log.sh mcbe@%i
Restart=always
SupplementaryGroups=systemd-journal
Type=simple
User=mc

[Install]
# Start after mcbe@%i.service
WantedBy=mcbe@%i.service
