[Unit]
Description=Automatically update Minecraft Bedrock Edition server daily at 4:15 AM

[Timer]
OnCalendar=*-*-* 04:15

[Install]
WantedBy=timers.target
