[Unit]
# Implicit needs are explicitly needed to survive shutdown till stop finishes
After=network.target
BindsTo=%N.socket
Description=Minecraft Bedrock Edition server @ %i

[Service]
# which says script path
ExecReload=/bin/bash -c 'echo reload > %t/%N'
ExecStartPre=/usr/bin/chmod +x bedrock_server
ExecStart=/bin/bash -c 'LD_LIBRARY_PATH=. ./bedrock_server'
ExecStop=/opt/MC/MCstop.sh %N
# Thanks for the security agowa338
PrivateUsers=true
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
Restart=on-failure
StandardInput=socket
StandardOutput=journal
StandardError=journal
Type=simple
User=mc
WorkingDirectory=/opt/MC/bedrock/%i

[Install]
WantedBy=multi-user.target
