[Unit]
After=mcbe@%i.service
Conflicts=mcbe-backup@.service
Description=Automatically update Minecraft Bedrock Edition server

[Service]
ExecStart=/opt/MC/MCBEautoUpdate.sh /opt/MC/%i mcbe@%i
Type=oneshot

[Install]
WantedBy=multi-user.target
