[Unit]
Description=Automatically download Minecraft Bedrock Edition server ZIP

[Service]
ExecStart=/opt/MC/MCBEgetZIP.sh
KillMode=none
Type=oneshot
User=mc

[Install]
WantedBy=multi-user.target
