[Unit]
Description=Automatically download Minecraft Bedrock Edition server ZIP hourly

[Timer]
OnCalendar=0/2:00:00
# 30 minutes
RandomizedDelaySec=1800

[Install]
WantedBy=timers.target
