[Unit]
After=mcbe-getzip.service mcbe@%i.service
Description=Automatically update Minecraft Bedrock Edition server @ %i

[Service]
ExecStart=/opt/MCscripts/mcbe_autoupdate.py /opt/MC/bedrock/%i mcbe@%i
KillMode=mixed
Type=oneshot

[Install]
# Start after mcbe-getzip.service
WantedBy=mcbe-getzip.service
