[Unit]
After=network-online.target
Description=Automatically download Minecraft Bedrock Edition server ZIP

[Service]
# DNS check
ExecStartPre=/bin/bash -c 'until getent ahosts example.com &> /dev/null; do sleep 1; done'
# mcbe_getzip.py reads y asking if you agree to the EULA
ExecStart=/bin/bash -c 'echo y | /opt/MCscripts/bin/mcbe_getzip.py'
Type=oneshot
User=mc
