[Unit]
After=mcbe@%i.service
Description=Minecraft Bedrock Edition server IRC bot @ %i
Requisite=mcbe@%i.service

[Service]
ExecStart=/opt/MC/MCBE_Bot.sh %i_Bot
Restart=always
Type=simple
User=mc
WorkingDirectory=/opt/MC

[Install]
# Start after mcbe@%i.service
WantedBy=mcbe@%i.service
